*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 450px;
  border: 2px solid black;
  padding: 1rem;
}
.calculator-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.boxes {
  display: flex;
  gap: 5px;
}
.box {
  height: 15px;
  width: 30px;
  border-radius: 12px;
  background-color: brown;
}
.calculator-display {
  border: 2px solid black;
  height: 6rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 1rem;
}
.calculator-body {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.button {
  text-align: center;
  padding: 1.6rem 1.8rem;
  border: 1px solid black;
}
.equal-to {
  grid-column-start: 3;
  grid-column-end: -1;
}
